
*{
  margin: 0;
}
body {
    padding: 2rem;
    width: 90%;
  }
  .textarea{
    width: 50%;
    height: 40px;
  }
  .btn{
    margin-top: -30px;
    width: 100px;
    background-color: brown;
    color: aliceblue;
  }
  .btn:hover{
    background-color: rgb(161, 90, 90);
    color: black;
  }
  #post0{
    margin-top: 30px;
  }
  .all{
    margin-bottom: 20px;
    border: 1px solid rgb(233, 229, 229);
    padding: 10px;
    width: 70%;
    display: block;
    box-shadow: 1px 2px 3px rgb(216, 214, 214);
    margin-left: 20%;
  }

  #post0,#post1,#post2{
    max-width: 850px;
  }
  .tongquat{
    text-align: center;

  }

  